scrollContainer, #scrollContainer {
    background-color: transparent;
}

scrollArea, QScrollArea {
    background-color: transparent;
    border: none;
}

RecodeInterface > CaptionLabel {
    color: rgb(96, 96, 96);
}